*{
	margin: 0;
	padding: 0;
	box-sizing: border box;
}

.backgroundColorGrey{
	background-color: #333;
}

.col-md-4{
	position: relative;
	min-height: relative;
	padding-right: 15px;
	padding-left: 15px;
}

.text-center{
	text-align: center;
	padding-top: 20px;
}

.row h1{
	font-size: 60px;
	font-weight: 200;
	font-family: impact, charcoal, sans-serif;
	color: #fff;
}

.pictures{
	padding-top: 20px;
}

.inner{
	padding-top: 25px;
}

.center-block{
	margin-left: auto;
	margin-right: auto;
}

/*Copyright*/

footer{
	padding: 30px 0;
	background-color: #333;
}

p.copyright{
	margin: 15px 0 0;
}

.text-muted{
	color: #fff;
}

.d{
	color: #fff;
	text-decoration: none;
}

.d:hover{
	color: #888;
	text-decoration: none;
}