*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-image: url("pictures/img4.jpg");
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
}

.backgroundColorWhite{
	background-color: #888;
}

.inner{
	padding-top: 5vh;
}

.videoPadding{
	padding-top: 45px;
}

.textColorWhite{
	color: #fff;
}

.textColorRed{
	color: #cc0000;
}

.textColorSilver{
	color: #808080;
}

.title{
	color: #fff;
	font-family: impact, charcoal, sans-serif;
}

/*Copyright*/

footer{
	padding: 30px 0;
	background-color: #333;
	margin: 30px 0 0 0;
}

p.copyright{
	margin: 15px 0 0;
}

.text-muted{
	color: #fff;
}

.d{
	color: #fff;
	text-decoration: none;
}

.d:hover{
	color: #888;
	text-decoration: none;
}
